@model MyElearningProject.DAL.Entities.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


        <div class="card-block">
            <form class="" method="post">
                <div class="form-group">
                    <label>Kategori Adını Giriniz</label>
                    
                        @Html.TextBoxFor(x => x.CategoryName, new {@class= "form-control"})
                   
                </div>
                <button class="btn btn-outline-primary"> Kategoriyi Kaydet Ekle</button>
            </form>
        </div>


