<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Hızlı Link</h4>
                <a class="btn btn-link" href="/About/Index/">Hakkımızda</a>
                <a class="btn btn-link" href="/Contact/Index/">Bizimle İletişime Geçin</a>
                <a class="btn btn-link" href="">Gizlilik Politikası</a>
                <a class="btn btn-link" href="">Şartlar & Kouşullar</a>
                <a class="btn btn-link" href="">SSS & Yardım</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">İletişim</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beyoğlu / İstanbul</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>tahacakmakk1@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
          
            <div class="col-lg-6 col-md-6">
                <h4 class="text-white mb-3">Haber Bülteni</h4>
                <p>Güncel indirimlerden haberdar olmak için haber bültenine üye olabilirsiniz.</p>
                <div class="position-relative mx-auto" style="max-width: 550px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Mail Adresiniz">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Üye Ol</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                    &copy; @DateTime.Now.Year <a class="border-bottom" href="#">E-Kurs</a>, Tüm Hakları Saklıdır.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
