@model List<MyElearningProject.DAL.Entities.CourseScor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<form method="post" class="pt-5" style=" margin: auto; width: 500px; height: 150px;">
    <div class="form-group">
        <input type="hidden" value="@ViewBag.Ids" name="CourseID" class="form-control" />
    </div>
    <div class="rate col-md-12">
        <input type="radio" id="star5" name="ScorValue" value="5" style="min-width:200px;" />
        <label for="star5" title="5"></label>
        <input type="radio" id="star4" name="ScorValue" value="4" />
        <label for="star4" title="4"></label>
        <input type="radio" id="star3" name="ScorValue" value="3" />
        <label for="star3" title="3"></label>
        <input type="radio" id="star2" name="ScorValue" value="2" />
        <label for="star2" title="2"></label>
        <input type="radio" id="star1" name="ScorValue" value="1" />
        <label for="star1" title="1"></label>
    </div>
    <div class="justify-content-md-center">
    <button class="btn btn-outline-success col-md-3 " style="margin-left:222px; margin-top:78px;"> Kaydet</button>
    </div>
</form>
